<section class="Section" data-anchor="today">

  <div class="Section-header">
    <h1 class="Section-title"><%= title %></h1>
    <span class="Section-description"></span>
  </div>

  <div class="Grid Grid--withGutter">

    <%= render 'alert_none_events' %>

    <%= render 'event', events: events[:preview] %>

    <%= render 'alert_see_more_items', events: events %>

  </div>
</section>