@import 'variables';

.AlertCreateEvent{
  margin: 0 0 30px 0;
  min-height: 315px;
  position: relative;

  &--withBorder{
    border: 2px dashed #aeb6aa;
    border-radius: $radius-panel;
  }

  &-text{
    height: 20px;
    width: 100%;
    font-size: 13px;
    text-align: center;
    padding: 12px;
    font-weight: 500;

    & a{
      color: $green;
    }

    &--large{
      font-size: 16px;
    }
  }

}
