@import "variables";

.Checkbox {

  & label {
    background: #fcfcfc;
    border: 1px solid #cccccc;
    border-radius: 4px;
    display: block;
    float: left;
    font-size: 13px !important;
    font-weight: 500 !important;
    margin: 0 6px 6px 0;
    padding: 6px 25px 6px 6px;
    width: auto;

    &:hover{
      background: white;
    }

  }

  & input {
    margin: 0 10px 0 6px !important;
    position: relative !important;
    top: 4px;
  }

}
