@import 'variables';
@import 'style/Input';

.Modal{

  background: $white;
  border-radius: $radius-panel;

  &-header{
    text-align: center;
    padding: 10px 15px 15px;
    background: $grey-lightness;
    border-top-left-radius: $radius-panel;
    border-top-right-radius: $radius-panel;
  }

  &-body{
    padding: 15px;
  }

  &-footer{
    text-align: right;
    padding: 6px 15px 15px;
  }

  &-title{
    font-family: $font-family-default;
    padding: 0;
    margin: 5px 0;
    font-size: 36px;
    font-weight: 500;
  }

  &-alert{
    padding-bottom: 12px;
  }

  &-closeButton{
    color: inherit;
    cursor: pointer;
    font-size: 23px;
    font-weight: bold;
    height: 20px;
    padding: 0;
    position: absolute;
    right: 11px;
    top: 12px;
    width: 15px;
  }

  &-icon{
    font-size: 13px;
    color: #C7C7C7;
  }

  & input{

  }

  & label{
    font-weight: 400;
  }

  &--centralized{
    text-align: center;
  }

}