//= require modules/AlertCreateEvent
//= require modules/AvatarPhoto

.Section{

  &-header{
    padding: 12px 0 10px;
  }

  &-title{
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.1em;
    text-align: left;
  }

  &-description{
    font-size: 15px;
    text-align: center;
    display: inherit;
    font-weight: 400;
    color: $grey-light;
  }
}