.SidebarLeft {
  margin-left: -200px;
  position: fixed;
  top: 115px;
  z-index: 9;
  left: 225px;

  &-section{
    padding: 0 0 25px 0;
  }

  &-agendaLink{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    transition: all 0.4s ease 0s;

    &.is-adding{
      position: relative;
      background: scale_color($green, $lightness: 60%);
      border-color: scale_color($green, $lightness: 40%);
    }

    &.is-removing{
      position: relative;
      background: scale_color($red, $lightness: 80%);
      border-color: scale_color($red, $lightness: 60%);
    }
  }

  &-nav{
    padding: 0;
    margin: 0;
    list-style: none;

    & li{
      color: $grey;
      font-family: $font-family-default;
      font-weight: 400;
      font-size: 14px;
      padding: 8px 2px 4px 0;

      & .badge{
        background: transparent none repeat scroll 0 0;
        border: 1px solid #bdc8c7;
        color: #a8b3b2;
        display: none;
        font-family: Helvetica, arial, sans-serif;
        font-size: 8px;
        margin-left: 8px;
        min-width: 17px;
        padding: 4px 4.5px;
        position: relative;
        right: 3px;
        top: -2px;
        vertical-align: inherit;

        &.is-show{
          display: inline-block;
        }
      }

      & .active{
        color: $white;
        background: $blue;
      }

      & a{
        padding: 0 10px;
        color: scale_color($grey, $lightness: 20%);
        margin: 0;
        width: 170px;

        &:hover{
          cursor: pointer;
        }

        &.is-active{
          color: $green;
          font-size: 16px;
          font-weight: 600;
          transition: all 0.2s ease 0s;
        }

        & .glyphicon{
          margin: 0 6px 0 0;
        }
      }

      &.active{

        & a{
          background: none;
          color: $green;
          margin-right: -1px;
          font-weight: 500;

          & .badge{
            background: $body-bg-color;
            color: $green;
            border: 1px solid $green;
            font-family: Helvetica,arial;
            font-size: 9px;
          }
        }
      }

      & .glyphicon{
        font-size: 12px;
        margin: 0 8px 0 0;
      }
    }

  }


  & ul > li{
    display: table;
    height: 32px;
  }

  & ul > li > a:hover{
    background: transparent;
  }

  ul .sub-nav {
    margin: 0 0 0 20px;
  }

  li.divider {
    border-top: 1px solid scale_color($body-bg-color, $lightness: -5%);
    height: 0;
    margin: 3px 0;
    min-height: 0;
  }


}