.SidebarMap {
  overflow: hidden;
  position: relative;
  width: 100%;

  &-address{
    display: none;
    font-size: 11px;
    padding: 15px;
  }

  &-infoGroup {
    background: $grey-lightness;
    box-shadow: 0 -5px 15px $grey-lightness;
    display: none;
    color: scale_color($grey, $lightness: 20%);
    font-family: $font-family-default;
    font-size: 11px;
    font-weight: 300;

    & img {
      height: 14px;
      vertical-align: middle;
      margin: 0 6px 0 0;
      opacity: 0.75;
    }
  }

  &-infoList{
    padding: 5px 15px;
  }

  &-icon {
    margin-right: 6px;
    vertical-align: top;

    &--car img {
      width: 12px;
    }

    &--bus img {
      width: 10px;
    }
  }



}
