.EventForm{

  &-hour{
    clear: both;
    display: table;
    margin: 0 -15px;
    padding: 10px 0 15px;

    &.is-hidden{
      display:none;
    }
  }

  &-alldayInput{
    padding: 1px 0 0 ;
  }

  &-allyearInput{
    margin: 5px 6px 0 0 !important;
  }

  &-alldayLabel{
    padding: 0 0 0 4px;
  }

  &-allyearLabel{
    margin: 5px 0 0 !important;
  }

  &-alldayWrapper{
    margin: 6px 0 0 0;
  }
}