
<span class="EventSingle-description snippet">
  <h3>Detalhes</h3>
  <%= @item.description.length > 500 ? "#{@item.description_without_html.cut(0, 500)}" : @item.description.html_safe %>
</span>

<% if @item.description.length > 500 %>
  <div class="EventSingle-readMore js-EventSingle-readMore">
    <span class="EventSingle-readMoreLink">Ler mais</span>
  </div>
<% end %>
