<div class="Grid-cell u-lg-size3of12 u-md-size4of12">

  <div class="Sidebar--single font-12">

    <!-- =Address -->
    <% cache [@item, "map"] do %>
      <div class="panel panel-default sidebar single-event-sidebar">
        <div id="single-map" style="height:215px"></div>
        <div class="panel-body">
          <div class="place"><b><%= link_to_if @item.place, @item.try(:place).try(:name), place_path(@item.place) %></b><br/><%= @item.full_address %></div>
        </div>
      </div>
    <% end %>


    <!-- =Transport -->
    <% cache [@item, "transport"] do %>
      <div class="TransportBox panel panel-default sidebar single-event-sidebar">
        <%= render 'items/show/transport' %>
      </div>
    <% end %>


    <!-- =Friends wich agended -->
    <% if current_user %>
      <% unless current_user.which_friends_will_this_event?(@item).empty? %>
        <div class="panel panel-default sidebar single-event-sidebar">
          <%= render 'items/show/friends_agended' %>
        </div>
      <% end %>
    <% end %>


  </div>

</div>