<div class="row">


  <!-- Email -->
  <% unless @item.email.blank? %>
      <div class="col-md-4 col-lg-4 u-no-padding">
        <p>
        <h3>Email</h3>
        <%= @item.email %>
        </p>
      </div>
  <% end %>


  <!-- Telefone -->
  <% unless @item.phone.blank? %>
      <div class="col-md-4 col-lg-4">
        <p>

        <h3>Telefone</h3>
        <%= @item.phone %>
        </p>
      </div>
  <% end %>


  <!-- Link -->
  <% unless @item.link.blank? %>
      <div class="col-md-4 col-lg-4">
        <p>
        <h3>Site</h3>
        <%= link_to clean_url(@item.link), to_url(@item.link), target: '_blank' %>
        </p>
      </div>
  <% end %>

</div>