
<span class="EventSingle-description snippet">
  <h3>Detalhes</h3>
  <%= @item.description.length > 360 ? "#{@item.description[0..360].html_safe}..." : @item.description.html_safe %>
</span>

<% if @item.description.length > 360 %>
  <div class="EventSingle-readMore js-EventSingle-readMore">
    <span class="EventSingle-readMoreLink">Ler mais</span>
  </div>
<% end %>