
<span class="EventSingle-description snippet">
  <h3>Detalhes</h3>
  <%= @item.description[0..360].html_safe %>
</span>

<% if @item.description.length > 360 %>
  <span class="read-more">Ler mais...</span>
<% end %>