

<%= content_for :title, 'Criar atividade na cidade' %>

<% content_for :header do %>
	Criar atividade
<% end %>

<!--<div class="InformationBox">-->
  <!--<span class="InformationBox-text"><%= t('events.new.info').html_safe %></span>-->
<!--</div>-->

<%= render :partial => 'activities/form' %>
