

<!-- SCREEN > 1200px -->

<div id="SidebarLeft" class="SidebarLeft">

  <section class="SidebarLeft-section">
    <ul>
      <li>
        <% if user_signed_in? %>
            <%= link_to agenda_path(current_or_guest_user), data: { push: true } do %>
                Minha agenda<span class="js-agendaCounter badge"><%= current_user.agenda_items.upcoming.count if current_user.agenda_items.upcoming.count >= 1 %></span>
            <% end %>
        <% else %>
            <%= link_to '#', onclick: 'Villeme.Ux.loginModal("Você precisa estar logado para ver sua agenda.")' do %>
                Minha agenda
            <% end %>
        <% end %>
      </li>
    </ul>
  </section>

  <section class="SidebarLeft-section">
    <ul class="SidebarLeft-nav">
      <% if @items[:today][:count] > 0 %>
          <li><a href="#" data-scroll="today">Eventos hoje</a></li>
      <% end %>
      <% if @activities_json['today']['count'] > 0 %>
          <li><a href="#" data-scroll="activities-today">Atividades hoje</a></li>
      <% end %>
      <% if @items[:persona][:count] > 0 %>
          <li><a href="#" data-scroll="persona">Indicados p/ mim</a></li>
      <% end %>
      <% if @items[:neighborhood][:count] > 0 %>
        <li><a href="#" data-scroll="neighborhood">No meu bairro</a></li>
      <% end %>
      <% if @items[:fun][:count] > 0 %>
        <li><a href="#" data-scroll="fun">Para se divertir</a></li>
      <% end %>
      <% if @items[:education][:count] > 0 %>
        <li><a href="#" data-scroll="learn">Aprender algo novo</a></li>
      <% end %>
      <% if @items[:health][:count] > 0 %>
        <li><a href="#" data-scroll="health">Cuidar da saude</a></li>
      <% end %>
      <% if @items[:trends][:count] > 0 %>
        <li><a href="#" data-scroll="trends">Em alta</a></li>
      <% end %>
    </ul>
  </section>
</div>

